<FilesMatch "\.(htaccess|htpasswd|passwd|ini|log|sh|inc|bak)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|styles|scripts|webfonts|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]

php_value session.gc.divisor 100